// 此自定义uView主题生成于2020-06-29
// 地址：http://www.uviewui.com/guide/theme.html
$u-main-color: #000000;
$u-content-color: #1d1d1d;
$u-tips-color: #8a8a8a;
$u-light-color: #bbbbbb;
$u-border-color: #e5e5e5;
$u-bg-color: #f3f4f6;

$u-type-primary: #47cd97;
$u-type-error: #f83c0a;
$u-type-warning: #ff9900;
$u-type-success: #4a90e2;
$u-type-info: #909399;

$u-type-primary-light: #dbf1e1;
$u-type-error-light: #fef0f0;
$u-type-warning-light: #fdf6ec;
$u-type-success-light: #ecf5ff;
$u-type-info-light: #f4f4f5;

$u-type-primary-dark: #18b566;
$u-type-error-dark: #e63101;
$u-type-warning-dark: #f29100;
$u-type-success-dark: #2b85e4;
$u-type-info-dark: #82848a;

$u-type-primary-disabled: #71d5a1;
$u-type-error-disabled: #fab6b6;
$u-type-warning-disabled: #fcbd71;
$u-type-success-disabled: #a0cfff;
$u-type-info-disabled: #c8c9cc;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #e6e6e6;
